<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="index.js"></script>
</head>

<body>
    <div class="mainContainer">
        <h1>List of all animals</h1>
        <div class="row" id="animals">

        </div>
    </div>
    <div class="editAnimal">
        <form id="editForm" method="POST">
            <div class="input-list">
                <div class="input-list">
                    <label for="name">Name</label>
                    <input class="form-control" name="name" id="name">
                </div>
                <div class="input-list">
                    <label for="dangerous">Is it dangerous?</label>
                    // drop down YES / NO
                    <input class="form-control" name="dangerous" id="dangerous">
                </div>
                <div class="input-list">
                    <label for="img">Add an image!</label>
                    // upload image (url?)
                    <input class="form-control" name="img" id="img">
                </div>
                <button type="submit">Save edit</button>
            </div>

            
</body>

</html>